.command {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    position: relative;

    &__present {
        position: relative;

        h1 {
            font-size: 58px;
            font-weight: 700;
        }
    }

    &__yellowLine {
        position: absolute;
        top: 20%;
        right: -6.6%;
    }

    &__peson-wrap {
        width: fit-content;
        position: relative;
    }

    &__helix {
        top: -15.2%;
        left: -9.2%;
        position: absolute;
        width: 141px;
        height: 141px;
        z-index: 1;
    }


    &__person {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }


    &__portret {
        position: relative;

        &:hover .command__info {
            height: 91.4%;
            text-align: center;
        }

        &:hover .command__summary {
            width: 100%;
            height: auto;

        }
    }


    &__info {
        width: 90%;
        height: 60px;
        padding: 14px;
        position: absolute;
        bottom: 0;
        background-color: #F1DB49;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: height 0.4s ease;
    }

    &__summary {
        width: 0;
        height: 0;
        transition: 0.3s ease;
        overflow: hidden;
    }

    &__text {
        font-size: 18px;
        font-weight: 700;
    }

    &__thorus {
        position: absolute;
        right: -16.3%;
        bottom: -44%;
    }

    @media (max-width:1300px) {
        &__person {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        &__thorus {
            right: -34%;
            bottom: -105%;
        }
    }

    @media (max-width:700px) {
        &__person {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }

        &__info {
            height: auto;

            span {
                font-size: 14px;
            }
        }

        &__thorus {
            right: -70%;
            bottom: -102%;
        }

        &__present {
            h1 {
                font-size: 34px;
            }

            img {
                top: 22px;
                width: 190px;
            }
        }

        &__helix {
            top: -4.2%;
            left: -39.2%;
        }
    }

    @media (max-width:500px) {
        &__present {
            h1 {
                font-size: 26px;
            }

            img {
                top: 16px;
                width: 140px;
            }
        }
    }
}