.footer {
    display: flex;
    align-items: end;
    overflow: hidden;
    height: 41vw;

    &__wrapper {
        width: 100%;
        position: relative;
        color: #FFF;
        font-family: Montserrat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__position {
        position: absolute;
        z-index: 2;
        max-width: 100%;
    }

    &__line1 {
        top: -13%;
        left: 7%;
        transform: rotate(-0.4deg);
    }

    &__line2 {
        top: -26%;
        transform: rotate(1deg);

    }

    &__line3 {
        top: -28%;
        transform: rotate(-0.5deg);
    }

    &__background {
        width: 100%;
        overflow: hidden;
    }

    // .footer__social

    &__social {
        position: absolute;
        bottom: 10%;
        z-index: 1;
    }

    // .footer__text

    &__text {
        font-size: clamp(7px, 3vw, 42px);
        font-weight: 400;
    }

    // .footer__icon

    &__icon {
        margin-top: clamp(5px, 3vw, 40px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3vw;

        img {
            width: clamp(22px, 6vw, 72px);
        }
    }
}