.footer {

    &__wrapper {
        width: 100%;
        position: relative;
        color: #FFF;
        font-family: Montserrat;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
    }

    &__position {
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    &__line1 {
        max-width: 100%;
        top: -14%;
        left: 6%;
    }

    &__line2 {
        top: -29%;
        transform: rotate(-0.4deg);

    }

    &__line3 {
        top: -28%;
        transform: rotate(-0.4deg);
    }

    &__background {
        width: 100%;
        overflow: hidden;
    }

    // .footer__social

    &__social {
        position: absolute;
        bottom: 10%;
        z-index: 1;
    }

    // .footer__text

    &__text {
        font-size: 3vw;
        font-weight: 400;
    }

    // .footer__icon

    &__icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 38px;

        img {
            width: 5vw;
        }
    }
}

