.podcastList {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 40px;

    img {
        width: clamp(220px, 46vw, 384px);
        position: absolute;
        bottom: 11%;
        transform: scalex(-1);
    }

}