.about {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px 0px 15px;

    &__main {
        position: relative;

        h1 {
            width: fit-content;
            font-size: 58px;
            font-weight: 700;
            margin: 71px 0px;

        }

    }

    &__blueLine {
        position: absolute;
        top: 23%;
        left: -22%;
    }

    &__wrapper {
        width: 1169px;
    }


    &__column {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }

    &__info {
        h1 {
            font-size: 32px;
            font-weight: 700;
        }

    }

    &__text {
        max-width: 590px;
        font-size: 18px;
    }

    &__image {
        width: 352px;
        height: 401px;
        border-radius: 0px 0px 150px 0px;
        border: 1px solid #F1DB49;
        position: relative;
        bottom: -65px;
        margin-left: 30px;

        img {
            right: 30px;
            bottom: 36px;
            position: absolute;
            border-radius: 0px 0px 150px 0px;
        }
    }

    &__person {
        align-items: end;
        position: relative;
    }


    &__portret {
        width: 395.309px;
        height: 450.338px;
        border-radius: 0px 100px;
        border: 1px solid #4DE5FF;
        position: relative;
        top: -75px;

        img {
            position: absolute;
            top: 52px;
            right: 33px;
            border-radius: 0px 100px;
        }


    }

    @media(max-width:1180px) {
        &__wrapper {
            max-width: 100%;
        }


    }

    @media(max-width:1070px) {
        &__main {
            h1 {
                font-size: 45px;
                margin: 50px 0px;
            }

            img {
                width: 300px;
            }
        }

        &__column {
            flex-direction: column;
        }

        &__person {
            flex-direction: column-reverse;
            justify-content: center;
        }


        &__portret {
            top: 0;
            margin-bottom: 10%;
        }

        &__image {
            margin-bottom: 50px;
        }

        &__text {
            max-width: 100%;
        }
    }


    @media(max-width:700px) {

        &__responsive {
            width: 252.309px;
            height: 301.338px;
            margin-left: 30px;

            img {
                width: 252.309px;
                height: 301.338px;
                right: 20px;
                bottom: 26px;
            }
        }

        &__portret {

            img {
                top: 30px;
                right: 23px;
            }
        }

        &__text {
            font-size: 14px;
        }

    }

    @media(max-width:400px) {
        &__main {
            h1 {
                font-size: 35px;
                margin: 20px 0px 0px 0px;
            }

            img {
                width: 200px;
            }
        }

    }
}