.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    padding-top: 100px;

    &__main {
        position: relative;

        h1 {
            font-size: 58px;
            margin: 70px 0px 83px 0px;
        }

        img {
            position: absolute;
            top: 26%;
            left: -13%;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 47px;
    }

    &__box {
        width: 1180px;
        display: flex;
        align-items: center;
        gap: 77px;
        padding: 15px;
        border-radius: 20px;
        border: 2px solid #4DE5FF;
    }

    &__info {

        button {
            max-width: 170px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            font-weight: 600;

        }


    }

    &__span {
        margin-right: 10px;
    }

    &__paragraf {
        font-size: 18px;
        font-family: 'Source Sans Pro';
    }

    &__top {
        max-height: 1000px;
        overflow: hidden;
        transition: max-height 1s ease;

    }
    &__more{
        
    }

    &__bottom {
        max-height: 69px;
        overflow: hidden;
        transition: max-height 0.2s ease;
    }

    &__page-number {
        background-color: #fff;
    }

    &__pagination_wrap {
        max-width: 550px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &__arrow,
        button {
            display: flex;
            width: 64px;
            height: 64px;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            border: 1px solid #4DE5FF;
            transition: 0.3s ease;
            color: #016475;
            font-size: clamp(12px, 2vw, 18px);
            font-weight: 800;
            cursor: pointer;
        }
    }


    &__pagination_bullet {
        display: flex;
        padding: 10px;
        justify-content: center;
        gap: 20px;
    }

    &__arrow {
        position: relative;
    }

    &__arrow_prev {
        transform: rotate(180deg);
    }


    @media(max-width:1250px) {
        &__box {
            width: 90%;
        }
    }

    @media(max-width:748px) {
        &__main {

            h1 {
                font-size: 45px;
                margin: 50px 0px;
            }

            img {
                width: 240px;
                top: 26%;
                left: -10%;
            }
        }

        &__paragraf {
            font-size: 14px;
        }
    }

    @media(max-width:615px) {
        &__box {
            width: 90%;
            flex-direction: column;
            gap: 0;
        }

        &__pagination_wrap {
            padding: 10px;

            &__arrow,
            button {
                width: 45px;
                height: 45px;
            }
        }


        &__pagination {
            max-width: 200px;
            overflow: hidden;
        }

        &__pagination_bullet {
            width: fit-content;
            padding: 0px 10px 0px 10px;

        }
    }
}

.active {
    background-color: #4DE5FF;
}