.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;

    &__main {
        position: relative;

        h1 {
            font-size: 58px;
            margin: 70px 0px 83px 0px;
        }

        img {
            position: absolute;
            top: 26%;
            left: -13%;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 47px;
    }

    &__box {
        width: 1180px;
        display: flex;
        align-items: center;
        gap: 77px;
        padding: 15px;
        border-radius: 20px;
        border: 2px solid #4DE5FF;
    }

    &__info {

        button {
            width: 170px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            font-weight: 600;

        }


    }

    &__span {
        transition: 3s;
    }

    &__paragraf {
        max-width: 551px;
        font-size: 18px;
        font-family: 'Source Sans Pro';
    }


    @media(max-width:1250px) {
        &__box {
            width: 90%;
        }
    }
    @media(max-width:748px){
        &__main {
    
            h1 {
                font-size: 45px;
                margin: 50px 0px;
            }
    
            img {
                width: 240px;
                top: 26%;
                left: -10%;
            }
        }
        &__paragraf {
            font-size: 14px;
        }
    }
    @media(max-width:615px) {
        &__box {
            width: 90%;
            flex-direction: column;
            gap: 0;
        }
    }
}