.week {
    width: 1180px;
    height: 79px;
    display: flex;
    flex-direction: row;
    margin: auto;



    &__day {
        font-family: Montserrat;
        width: 170px;
        height: 77px;
        font-weight: 400;
        font-size: 22px;
        background-color: #ffffff;
        border: 1px solid #4DE5FF;
        cursor: pointer;
    }

   
   
}