.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    &__main {
        position: relative;

     margin: 0px 0px  50px 0px;
        img {
            width: clamp(200px, 39vw, 318px);
            position: absolute;
            top: 19%;
            left: -13%;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 47px;
    }

    &__box {
        width: 1180px;
        display: flex;
        align-items: center;
        gap: 77px;
        padding: 15px;
        border-radius: 20px;
        border: 2px solid #4DE5FF;
    }

    &__info {

        button {
            max-width: 170px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            font-weight: 600;

        }


    }

    &__span {
        margin-right: 10px;
    }

    &__paragraf {
        font-size: 18px;
        font-family: 'Source Sans Pro';
    }

    &__top {
        max-height: 1000px;
        overflow: hidden;
        transition: max-height 1s ease;

    }


    &__bottom {
        max-height: 69px;
        overflow: hidden;
        transition: max-height 0.2s ease;
    }

    @media(max-width:1250px) {
        &__box {
            width: 90%;
        }
    }

    @media(max-width:748px) {
       

        &__paragraf {
            font-size: 14px;
        }
    }

    @media(max-width:615px) {
        &__box {
            width: 80%;
            flex-direction: column;
            gap: 0;
        }


    }
}