:root {
    --swiper-pagination-bullet-horizontal-gap: 7px;
    --swiper-pagination-bottom: 7%;
}

.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__main {
        display: flex;
        justify-content: center;
        position: relative;

        img {
            width: clamp(230px, 46vw, 384px);
            position: absolute;
            bottom: 20%;
            left: -10%;
        }
    }

    &__pyramid {
        width: clamp(80px, 19vw, 270px);
        position: absolute;
        left: 3%;
        bottom: -56%;
        z-index: 3;
    }

    @media(max-width:1075px) {
        &__wrapper {
            max-width: 445px;
        }
    }

    @media(max-width:650px) {
        &__wrapper {
            max-width: 170px;

        }
    }
}

:global {
    .swiper {
        max-width: 980px;
        height: 295px;
    }

    .swiper-wrapper {
        position: relative;
        cursor: pointer;
    }


    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 90%;
        width: 36px;
        background-repeat: no-repeat;
        overflow: visible;
        z-index: 110;

        &::after {
            display: none;
        }
    }

    .swiper-button-next {
        background-image: url('../image/arrow-next.svg');
        right: 42%;
    }

    .swiper-button-prev {
        background-image: url('../image/arrow-next.svg');
        transform: rotateY(180deg);
        left: 42%;
    }

    .swiper-pagination {
        bottom: var(--swiper-pagination-button);
    }

    .swiper-pagination-bullet {
        margin: var(--swiper-pagination-bullet-horizontal-gap);
        background-color: transparent;
        font-size: 18px;
        transition: 0.3s;
    }

    .swiper-pagination-bullet-active {
        font-size: 24px;
        font-weight: 700;
    }

    .swiper-slide {
        img {
            width: 180px;
            height: 180px;
        }
    }

    @media(max-width:1075px) {

        .swiper-button-next {
            right: 25%;
        }

        .swiper-button-prev {
            left: 25%;
        }

    }

    @media(max-width:650px) {

        .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            height: 80px;
            justify-content: center;
            align-items: end;
            padding: 0px 0px 0px 0px;
        }

        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;

        }

        .swiper-button-next {
            right: 6%;
        }

        .swiper-button-next,
        .swiper-button-prev {
            top: 97%;
            width: 25px;
            height: 26px;
            background-size: cover;
        }

        .swiper-slide {
            img {
                width: 170px;
                height: 170px;
            }
        }



        .swiper-button-prev {
            left: 4%;
        }



        :root {
            --swiper-pagination-bullet-horizontal-gap: 10px;
            --swiper-pagination-bottom: 15%;
        }
    }

}