:root {
    --swiper-pagination-bullet-horizontal-gap: 7px;
    --swiper-pagination-bottom: 7%
}

.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;

    &__main {
        display: flex;
        justify-content: center;
        position: relative;
        font-family: Montserrat;

        h1 {
            font-size: 58px;
            font-weight: 700;
        }

        img {
            position: absolute;
            bottom: 17%;
            left: -10%;
        }
    }


    &__wrapper {
        max-width: 1030px;
        position: relative;
    }

    &__pyramid {
        position: absolute;
        left: -15%;
        bottom: -87%;
        z-index: 3;
    }

}

:global {
    .swiper {
        height: 295px;
    }

    .swiper-wrapper {
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 90%;
        width: 36px;
        background-repeat: no-repeat;
        overflow: visible;
        z-index: 110;

        &::after {
            display: none;
        }
    }

    .swiper-button-next {
        background-image: url('../image/arrow-next.svg');
        right: 42%;
    }

    .swiper-button-prev {
        background-image: url('../image/arrow-prew.svg');
        left: 42%;
    }

    .swiper-pagination {
        bottom: var(--swiper-pagination-button);
    }

    .swiper-pagination-bullet {
        margin: var(--swiper-pagination-bullet-horizontal-gap);
        background-color: transparent;
        font-size: 18px;
        transition: 0.3s;
    }

    .swiper-pagination-bullet-active {
        font-size: 24px;
        font-weight: 700;
    }
}