.listen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding-top: 100px;
    max-height: 436px;

    &__portret {
        width: 479px;
        height: 436px;
        border-radius: 20px;
        border: 2px solid #F1DB49;
        margin-right: 26px;
        display: flex;
        align-items: center;

        img {
            width: 90%;
            height: 90%;
        }
    }

    &__block {
        width: 500px;
        max-height: 436px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            width: 100%;
            font-size: clamp(30px, 7vw, 58px);
            margin: 0px;
        }

        p {
            font-size: clamp(14px, 3vw, 18px);
            margin: 10px 0px 0px 0px;
        }

        button {
            border-radius: 20px;
            cursor: pointer;

            &:active {
                background-color: rgba(0, 0, 0, 0.040);
            }
        }
    }

    &__player {
        width: 285px;
        height: 140px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__goPodcast {
        transform: rotate(180deg);
    }

    &__progress {
        position: absolute;
        bottom: -5%;
        width: 290px;
        height: 6px;
        background-color: #f4f2f2;
        display: flex;
        align-items: center;
        border-radius: 30px;
        cursor: pointer;
    }

    &__progressBar {
        height: 3px;
        background-color: #6d49f1;
        border-radius: 30px;
        display: flex;
        justify-content: right;
        align-items: center;
        
    }

    &__progressTrack {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: #F1DB49;
    }


    &__play {
        padding: 13px 13px;
        transition: background-color 0.3s;
        border-radius: 20px;

        &:active {
            background-color: rgba(0, 0, 0, 0.040);
        }
    }

    &__volume {
        width: 285px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        input {
            width: 255px;
            cursor: pointer;
        }
    }

    &__volumeBlock {
        position: relative;
        height: fit-content;
        padding: 4px;
        border-radius: 10px;
        cursor: pointer;

        &:active {
            background-color: rgba(0, 0, 0, 0.040);
        }

    }

    &__stop {
        position: absolute;
        transform: rotate(45deg);
        background-color: #c40808;
        left: 0;
        bottom: 50%;
        overflow: hidden;
    }

    &__knot {
        position: absolute;
        right: 0;
        top: 10%;
        z-index: -1;
    }

    @media (max-width:650px) {
        &__portret {
            width: 400px;
            height: 354px;
        }
    }

    @media (max-width:500px) {
        &__portret {
            width: 280px;
            height: 254px;
        }

        &__block {
            width: 280px;
        }

        &__knot {
            img {
                width: 131px;
                height: 131px;
            }
        }
    }
}

input {
    width: 100%;
}


input[type="range"] {
    appearance: none;

    &::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #F1DB49, #F1DB49);
        width: 100%;
        height: 2px;
        border: none;
        transition: background 0.25s;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #6867AB;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-top: -5px;
        transition: background 0.25s;
    }


}

@media (max-width:1100px) {
    .listen {
        flex-direction: column;
        max-height: 100%;

        &__portret {
            margin-right: 0px;
        }

        &__block {
            h1 {
                margin: 30px 0px 0px 0px;
            }
        }

    }

}