.podcastList {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__list {
        max-width: 1210px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        justify-content: space-between;
        padding: 0px 10px 0px 10px;

    }
    &__podcast-href{
        width: 331px;
        height: 301px;
    }
    &__podcast {
        width: 331px;
        height: 301px;
    }

    &__customStyle1 {
        border: 2px solid #F1DB49;
    }

    &__customStyle2 {
        border: 2px solid #02b7df;
        margin: 43px 0px 49px 14%;

    }

    &__customStyle3 {
        margin-left: 0px;
        border: 2px solid #02b7df;
        margin-right: 20%;
    }

    img {
        width: 300px;
        height: 254px;
        flex-shrink: 0;
    }
    &__pagination{
        width: fit-content;
        margin: auto;
    }

    @media (max-width:1100px) {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }

        &__customStyle2 {
            margin: 0;

        }

        &__customStyle3 {
            margin: 0;
        }
    }
    @media (max-width:750px) {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }

    }

}