.podcastList {

    &__page {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

    }

    &__container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__list {
        max-width: 1210px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        justify-content: space-between;
        padding: 0px 10px 0px 10px;

        img {
            width: 80%;
            height: 80%;
        }

    }

    &__podcast {
        width: 331px;
        height: 301px;
        border-radius: 20px;
        border: 2px solid #F1DB49;
        display: flex;
        align-items: center;
    }

    &__customStyle1 {
        border: 2px solid #F1DB49;


    }

    &__customStyle2 {
        border: 2px solid #02b7df;
        margin: 43px 0px 49px 14%;

        li {
            display: flex;
            justify-content: right;
        }
    }

    &__customStyle3 {
        margin-left: 0px;
        margin-right: 20%;

        li {
            justify-content: left;
        }
    }


    &__pagination {
        width: fit-content;
        margin: auto;
    }

    &__image {
        position: absolute;
        z-index: -1;
    }

    &__thours {
        left: 0;
        bottom: 22%;

        img {
            width: 147px;
            height: 170px;
        }
    }

    &__knot {
        top: -9%;
        left: 0;
    }

    &__cube {
        right: 0px;
        bottom: 40%;
    }

    @media (max-width:1100px) {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }

        &__customStyle2 {
            margin: 0;

        }

        &__customStyle3 {
            margin: 0;
        }

        &__cube {
            img {
                width: 180px;
                height: 180px;
            }
        }

        &__thours {
            left: 0;
            bottom: 14%;
        }


    }

    @media (max-width:750px) {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }

        &__knot {
            top: -1%;
            left: 0;

            img {
                width: 131px;
                height: 131px;
            }
        }
        &__cube {
            right: 0;
            img {
                width: 153px;
                height: 153px;
            }
        }
        &__thours {
            left: 0%;
            bottom: 24%;
            width: 127px;
            height: 120px;
        }
    }

    @media (max-width:650px) {
        &__podcast {
            width: 270px;
            height: 240px;
        }

    }
}