.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;

    &__link {
        display: flex;
        justify-content: center;
        width: 1000px;
        margin: auto;
        position: relative;
        padding-top: 55px;
    }

    &__yellow-line {
        width: clamp(180px, 39vw, 318px);
        position: absolute;
        bottom: 6.5%;
    }

    &__spheres {
        position: absolute;
        left: 0;
        bottom: -15%;
        z-index: -1;
    }


    &__table-wrap {
        position: relative;
        width: 1180px;

    }

    &__table {
        margin: auto;
    }



    &__tr {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid rgba(77, 230, 255, 0.54);

        td {
            width: clamp(100px, 44vw, 570px);
        }
    }

    &__head {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        border-bottom: none;

        span {
            font-size: clamp(17px, 3vw, 28px);
            font-weight: 500;
        }
    }

    &__td {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 2px solid rgba(77, 230, 255, 0.54);
        font-size: clamp(18px, 3.5vw, 32px);
    }

    &__td-text {
        padding: 0px 0px 0px 20px;

        h2 {
            font-size: clamp(16px, 3.5vw, 32px);
        }

        p {
            font-size: clamp(13px, 3vw, 18px);
            max-width: 377px;

        }
    }

    &__helix {
        position: absolute;
        width: 131px;
        height: 150px;
        bottom: 17%;
        right: 0%;
        z-index: -1;
    }

    @media (max-width:1200px) {

        &__table-wrap {
            width: 100%;
        }

        &__table {
            max-width: 700px;
        }
    }

    @media (max-width:1000px) {

        &__link {
            width: 100%;
        }
    }

    @media (max-width:832px) {
        &__spheres {
            display: none;
        }

        &__helix {
            width: 101px;
            height: 120px;
        }
    }

    @media (max-width:615px) {
        &__link{
            padding-top: 25px;

        }

    }

    @media (max-width:400px) {
        &__td-text {
            padding: 0px 0px 0px 10px;
        }
    }

}