.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;

    &__link {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        margin-top: 100px;

        h1 {
            font-size: clamp(35px, 7vw, 58px);
            font-weight: 700;
        }
    }

    &__yellow-line {
        width: clamp(200px, 39vw, 318px);
        position: absolute;
        bottom: 13.5%;
    }

    &__spheres {
        position: absolute;
        left: 12%;
        width: 189px;
        height: 189px;
    }


    &__table-wrap {
        position: relative;
        width: 1180px;

    }

    &__table {
        margin: auto;
    }



    &__tr {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid rgba(77, 230, 255, 0.54);

        td {
            width: clamp(100px, 44vw, 570px);
        }
    }

    &__head {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        border-bottom: none;

        span {
            font-size: clamp(17px, 3vw, 28px);
            font-weight: 500;
        }
    }

    &__td {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 2px solid rgba(77, 230, 255, 0.54);
        font-size: clamp(18px, 3.5vw, 32px);
    }

    &__td-text {
        padding: 0px 0px 0px 20px;

        h2 {
            font-size: clamp(16px, 3.5vw, 32px);
        }

        p {
            font-size: clamp(14px, 3vw, 18px);
            max-width: 377px;
        }
    }

    &__helix {
        position: absolute;
        width: 131.48px;
        height: 150.411px;
        bottom: 40%;
        right: 7%;
    }

    @media (max-width:1200px) {

        &__table-wrap {
            width: 100%;
        }

        &__table {
            max-width: 700px;
        }
    }

    @media (max-width:400px) {
        &__td-text {
            padding: 0px 0px 0px 10px;
        }
    }

}